$col-gap-list: 0, 10, 15, 20, 25, 30, 40, 50, 55, 60, 70, 90, 100, 120, 150;
$margines-list: 5, 10, 15, 20, 25, 30, 35, 40, 50, 60, 65, 70, 80, 90, 100;
@each $item in $margines-list {
	.mb-#{$item} {
		margin-bottom: #{$item}px !important;
	}
	.mt-#{$item} {
		margin-top: #{$item}px !important;
	}
	.pb-#{$item} {
		padding-bottom: #{$item}px !important;
	}
	.pt-#{$item} {
		padding-top: #{$item}px !important;
	}
}

@each $item in $col-gap-list {
	.col-gap-#{$item} {
		margin-left: calc((#{$item}px/2) * -1) !important;
		margin-right: calc((#{$item}px/2) * -1) !important;
	}
	.col-gap-#{$item} > div {
		padding-left: calc(#{$item}px/2) !important;
		padding-right: calc(#{$item}px/2) !important;
	}
}

$data-gap-list: 0, 2, 3, 5, 6, 7, 8, 9, 10, 12, 15, 20, 25, 30, 35, 40, 45, 50,
	55, 60, 70, 80, 90, 100, 120;
@each $item in $data-gap-list {
	[data-grid-item-gap='#{$item}'] {
		--grid-item-gap: #{$item}px;
	}
	[data-row-gap='#{$item}'] {
		--grid-row-gap: #{$item}px;
	}
}

[data-grid-item-width='30'] {
	--grid-item-width: calc(30px - var(--grid-item-gap));
}

[data-grid-item-width='50'] {
	--grid-item-width: calc(50px - var(--grid-item-gap));
}

[data-grid-item-width='88'] {
	--grid-item-width: calc(88px - var(--grid-item-gap));
}

[data-grid-item-width='100'] {
	--grid-item-width: calc(100px - var(--grid-item-gap));
}

[data-grid-item-width='125'] {
	--grid-item-width: calc(125px - var(--grid-item-gap));
}

[data-grid-item-width='150'] {
	--grid-item-width: calc(150px - var(--grid-item-gap));
}

[data-grid-item-width='200'] {
	--grid-item-width: calc(200px - var(--grid-item-gap));
}

[data-grid-item-width='230'] {
	--grid-item-width: calc(230px - var(--grid-item-gap));
}

[data-grid-item-width='250'] {
	--grid-item-width: calc(250px - var(--grid-item-gap));
}

[data-grid-item-width='300'] {
	--grid-item-width: calc(300px - var(--grid-item-gap));
}

[data-grid-item-width='1/2'] {
	--grid-item-width: calc((100% / 2) - var(--grid-item-gap));
}

[data-grid-item-width='1/3'] {
	--grid-item-width: calc((100% / 3) - var(--grid-item-gap));
}

[data-grid-item-width='1/4'] {
	--grid-item-width: calc((100% / 4) - var(--grid-item-gap));
}

[data-grid-item-width='1/5'] {
	--grid-item-width: calc((100% / 5) - var(--grid-item-gap));
}

@media (min-width: 576px) {
	[data-grid-item-width-sm='1/2'] {
		--grid-item-width: calc((100% / 2) - var(--grid-item-gap));
	}
	[data-grid-item-width-sm='1/3'] {
		--grid-item-width: calc((100% / 3) - var(--grid-item-gap));
	}
	[data-grid-item-width-sm='1/4'] {
		--grid-item-width: calc((100% / 4) - var(--grid-item-gap));
	}
	[data-grid-item-width-sm='1/5'] {
		--grid-item-width: calc((100% / 5) - var(--grid-item-gap));
	}
}

@media (min-width: 768px) {
	[data-grid-item-width-md='1/2'] {
		--grid-item-width: calc((100% / 2) - var(--grid-item-gap));
	}
	[data-grid-item-width-md='1/3'] {
		--grid-item-width: calc((100% / 3) - var(--grid-item-gap));
	}
	[data-grid-item-width-md='1/4'] {
		--grid-item-width: calc((100% / 4) - var(--grid-item-gap));
	}
	[data-grid-item-width-md='1/5'] {
		--grid-item-width: calc((100% / 5) - var(--grid-item-gap));
	}
}

@media (min-width: 992px) {
	[data-grid-item-width-lg='1/2'] {
		--grid-item-width: calc((100% / 2) - var(--grid-item-gap));
	}
	[data-grid-item-width-lg='1/3'] {
		--grid-item-width: calc((100% / 3) - var(--grid-item-gap));
	}
	[data-grid-item-width-lg='1/4'] {
		--grid-item-width: calc((100% / 4) - var(--grid-item-gap));
	}
	[data-grid-item-width-lg='1/5'] {
		--grid-item-width: calc((100% / 5) - var(--grid-item-gap));
	}
}

.grid {
	display: grid;
	display: -moz-grid;
	display: -ms-grid;
	grid-gap: var(--grid-item-gap);
	grid-template-columns: repeat(
		auto-fill,
		minmax(var(--grid-item-width), 1fr)
	);
	grid-row-gap: var(--grid-row-gap);
	& > div {
		position: relative;
	}
}

// headings
h1 {
	font-weight: 500;
	color: var(--textPrimary);
}

h2 {
	font-weight: 500;
	color: var(--textPrimary);
}

h3 {
	font-weight: 500;
	color: var(--textPrimary);
}

h4 {
	font-weight: 500;
	color: var(--textPrimary);
}

h5 {
	font-weight: 500;
	color: var(--textPrimary);
}

h6 {
	font-weight: 500;
	color: var(--textPrimary);
}

// headings
.dropzone {
	border: dashed 1px #d2d2d2;
	min-height: 115px;
	@include flex(center, center);
	border-radius: 10px;
	padding: 0px rem(20px);
	max-width: 620px;
	.dz-message {
		margin: 0px;
		font-size: rem(16px);
		color: #4a4a4a;
		.dz-button {
			color: #89201a;
		}
		.note {
			color: #666666;
			font-style: italic;
			font-size: rem(14px);
			display: block;
			padding-top: rem(8px);
		}
	}
	.dz-preview {
		margin: 5px;
		.dz-image {
			width: 95px;
			height: 95px;
		}
	}
}

.abs-link {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 9;
	color: transparent;
	font-size: 0;
	text-indent: -2px;
}

.table > :not(caption) > * > * {
	padding-left: 0;
	padding-right: 0;
}

.table {
	$self: &;
	display: table;
	width: 100%;
	margin: 0;
	margin-bottom: rem(24px);
	border: 1px solid var(--borderColor);
	border-radius: 12px;
	overflow: hidden;
	&__row {
		display: table;
		width: 100%;
		table-layout: fixed;
		border-bottom: 1px solid var(--borderColor);
		position: relative;
		background-color: transparent;
		@media screen and (min-width: 992px) {
			padding: rem(24px) 0;
		}
		@media screen and (max-width: 991px) {
			display: block;
			border: solid 2px #eaeaea;
			border-right: 0;
			border-left: 0;
			border-bottom: 0px;
			margin-bottom: 25px;
			padding: 0 !important;
		}
		&:last-child {
			@media screen and (min-width: 992px) {
				border: 0;
			}
		}
		@media screen and (max-width: 991px) {
			&:last-child {
				margin-bottom: 0px;
			}
		}
		&--cell {
			display: table-cell;
			font-size: rem(16px);
			color: #000000;
			font-weight: 400;
			vertical-align: middle;
			text-align: center;
			text-align: left;
			background-color: transparent;
			line-height: 1.2;
			@media screen and (max-width: 1200px) {
				font-size: rem(15px);
			}
			p {
				font-size: rem(16px);
				color: #000000;
				font-weight: 400;
				margin: 0;
				@media screen and (max-width: 1300px) {
					font-size: rem(15px);
				}
				@media screen and (min-width: 992px) {
					@include truncate(1);
				}
			}
			@media screen and (max-width: 1300px) {
				font-size: rem(15px);
			}
			@media screen and (max-width: 1025px) and (min-width: 992px) {
				font-size: rem(14px);
				a {
					font-size: rem(13px) !important;
				}
			}
			&:first-child {
				color: var(--primary);
				@media screen and (min-width: 992px) {
					padding-left: rem(25px) !important;
					text-align: left;
					@media screen and (max-width: 1300px) {
						padding-left: rem(15px) !important;
					}
				}
			}
			&:last-child {
				@media screen and (min-width: 992px) {
					padding-right: rem(25px) !important;
					text-align: right;
					@media screen and (max-width: 1300px) {
						padding-right: rem(15px) !important;
					}
				}
			}
			a {
				text-decoration: none;
				font-size: rem(16px);
				font-weight: 500;
				transition: 0.3s ease all;
				@media screen and (max-width: 1300px) {
					font-size: rem(15px);
				}
				&.phase {
					color: var(--secondary);
				}
				&.result {
					color: var(--primary);
				}
				svg {
					margin-left: rem(17px);
					transform: translateY(2px);
					@media screen and (max-width: 1300px) {
						margin-left: rem(15px);
					}
				}
			}
			&.blue {
				color: var(--primary);
			}
			.text-turncate {
				@include truncate(2);
			}
			span {
				height: 8px;
				width: 8px;
				border-radius: 50%;
				margin-right: 10px;
				display: inline-block;
			}
			@media screen and (max-width: 991px) {
				display: flex !important;
				align-items: center;
				width: 100% !important;
				padding-left: 0px !important;
				border-bottom: solid 2px #dee2e6 !important;
				padding: 0 !important;
				position: relative;
				&:before {
					color: #323232;
					padding-left: 6px;
					text-align: left;
					font-weight: 700;
					font-size: rem(15px);
					content: attr(data-label);
					display: table-cell;
					width: 35%;
					min-width: 35%;
					border-right: solid 2px #dee2e6;
					vertical-align: middle;
					padding: rem(25px) rem(10px);
					margin-right: rem(15px);
					line-height: 1.3;
				}
				&:nth-last-child(2) {
					padding: 0;
				}
			}
		}
	}
	&__head {
		background: #fcfcfc;
		border-bottom: 1px solid var(--borderColor);
		#{$self}__row {
			@media screen and (min-width: 992px) {
				padding: rem(25.92px) 0;
			}
			box-shadow: none;
			&--cell {
				color: #6b6b6b;
				font-size: rem(16px);
				font-weight: 400;
				padding: 0 rem(5px);
				text-transform: unset;
				@media screen and (max-width: 1300px) {
					font-size: rem(15px);
				}
				@media screen and (max-width: 1025px) and (min-width: 992px) {
					font-size: rem(14px);
					a {
						font-size: rem(14px);
					}
				}
				&:first-child {
					@media screen and (min-width: 992px) {
						padding-left: rem(25px);
						// text-align: left;
						@media screen and (max-width: 1300px) {
							padding-left: rem(15px) !important;
						}
					}
				}
				&:last-child {
					@media screen and (min-width: 992px) {
						padding-right: rem(25px);
						// text-align: right;
						@media screen and (max-width: 1300px) {
							padding-right: rem(15px) !important;
						}
					}
				}
			}
		}
		@media screen and (max-width: 991px) {
			display: none;
		}
	}
	&__body {
		overflow: hidden;
		#{ $self }__row {
			&--cell {
				padding: 0 rem(5px);
			}
			@media screen and (min-width: 1025px) {
				&:hover {
					background-color: #eef7fb;
					cursor: pointer;
					z-index: 1;
					.table__row--cell {
						&:first-child {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
	@media screen and (max-width: 991px) {
		border: 0;
	}
}


[data-width='5'] {
	width: 5%;
}

[data-width='6'] {
	width: 6%;
}

[data-width='7'] {
	width: 7%;
}

[data-width='8'] {
	width: 8%;
}

[data-width='9'] {
	width: 9%;
}

[data-width='10'] {
	width: 10%;
}

[data-width='11'] {
	width: 11%;
}

[data-width='12'] {
	width: 12%;
}

[data-width='13'] {
	width: 13%;
}

[data-width='14'] {
	width: 14%;
}

[data-width='15'] {
	width: 15%;
}

[data-width='16'] {
	width: 16%;
}

[data-width='17'] {
	width: 17%;
}

[data-width='18'] {
	width: 18%;
}

[data-width='19'] {
	width: 19%;
}

[data-width='20'] {
	width: 20%;
}

[data-width='21'] {
	width: 21%;
}

[data-width='22'] {
	width: 22%;
}

[data-width='23'] {
	width: 23%;
}

[data-width='24'] {
	width: 24%;
}

[data-width='25'] {
	width: 25%;
}

[data-width='26'] {
	width: 26%;
}

[data-width='27'] {
	width: 27%;
}

[data-width='28'] {
	width: 28%;
}

[data-width='30'] {
	width: 30%;
}

[data-width='33'] {
	width: 33%;
}

[data-width='35'] {
	width: 35%;
}

[data-width='38'] {
	width: 38%;
}

[data-width='40'] {
	width: 40%;
}

[data-width='42'] {
	width: 42%;
}

[data-width='45'] {
	width: 45%;
}

[data-width='50'] {
	width: 50%;
}

[data-width='52'] {
	width: 52%;
}

[data-width='53'] {
	width: 53%;
}

[data-width='54'] {
	width: 54%;
}

[data-width='55'] {
	width: 55%;
}

[data-width='56'] {
	width: 56%;
}

[data-width='58'] {
	width: 58%;
}

// Tabs
// Images Lazy Loader
@keyframes load {
	from {
		left: -150px;
	}
	to {
		left: 100%;
	}
}
