header {
    padding: rem(16px) rem(32px);
    // position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    &.sticky {
        background: rgba(0,0,0,.3);
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .header__right {
            display: flex;
            align-items: center;
            .logo {
                // max-width: 120px;
                background: rgb(255 255 255 / 70%);
                padding: 5px;
                margin-right: rem(90px);
                &:hover {
                    opacity: .75;
                }
            }
            &--link {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                list-style: unset;
                padding: 0;
                li {
                    &:not(:last-child) {
                        margin-right: 5rem;
                    }
                    &::marker {
                        content: none;
                    }
                    .dropdown {
                        button {
                            background-color: transparent !important;
                            color: #000 !important;
                            border: none;
                            font-weight: 400;
							padding: 0;
                        }
						.dropdown-menu {
							li {
								margin: unset;
								a {
									padding: 12px;
								}
							}
							// border: none;
						}
                    } 
                }
            }
        }
    }
}

.header {
    padding: rem(48px) rem(78px);
    font-size: rem(36px);
    font-weight: 600;
}
